body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2em;
  text-align: center;
}

#accueil h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}



.filter-buttons {
  text-align: center;
  margin-bottom: 2em;
}

.filter-buttons button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.filter-buttons button:hover {
  background-color: #555;
}

.photo {
  display: none;
  margin: 1em;
}

.photo img {
  width: 25%;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
}

.download a {
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
}

.download a:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

footer ul li {
  display: inline;
  margin: 0 1em;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

/* lignes */

.galerie-apercu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.galerie-apercu img {
  margin: 1em;
  width: calc(33.33% - 2em); /* Trois images par ligne avec des marges */
  height: auto;
  object-fit: cover;
  border: 2px solid #333;
  border-radius: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  display: none;
  margin: 1em;
  width: calc(33.33% - 2em); /* Trois images par ligne avec des marges */
}

.photo img {
  width: 100%;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
}

/* Styles pour le modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.download-button {
  position: absolute;
  top: 60px;
  right: 35px;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
}

.download-button:hover {
  background-color: #555;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }

  .download-button {
    top: 45px;
    right: 15px;
  }
}
